{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="vegan">{{ title }}</h1>
<div class="container">
  <div class="row">
    <div class="col align-self-center">
    <form method="post" class="form-register">
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-outline-success" type="submit">{% translate 'Register!' %}</button>
      <p>{% translate 'Already regustered?' %}<a href="{%url 'users'%}">{% translate 'Log in!' %}</a></p>
    </form>
    </div>
  </div>
</div>
{% endblock%}
