{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %}{% translate 'Auth page' %}{% endblock %}

{% block content %}

<h1 class="vegan">{{ title }}</h1>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col align-self-center">
    <form method="post" class="form-register auth">
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-outline-success" type="submit">{% translate 'Log in' %}</button>
    </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock%}
