{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %} {% translate 'Adding dishes to menu' %} {% endblock %}

{% block content %}

<h2 class="mt-5 text-center ">{% translate 'Adding dishes to menu' %}</h4>
<div class="container text-start">
  <form method="post" enctype="multipart/form-data" class="border border-primary rounded">
<div class="row p-2">
  <div class="col p-2">
    {% csrf_token %}
    {{form.as_table}}
  </div>
</div>
<div class="text-center">
  <button class="btn greenBtn btn-lg mb-3 mx-auto rounded" type="submit">{% translate 'Add dish to menu' %}</button>
</div>
</form>
</div>


{% endblock %}