{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Our contacts' %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="d-flex justify-content-center">
      <form method="post" class="decor" >
          <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="container flex form-inner">
              <h3 class="text-center mb-3">{% trans 'Write us an email' %}</h3>
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center">
                <input type="submit" value= "{% trans 'Send' %}"></div>
            </div>
        </form>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
    <iframe class="map" src="https://yandex.ru/map-widget/v1/?z=12&amp;ol=biz&amp;oid=226819973804" width="90%" height="auto" frameborder="0"></iframe>

    </div>
    <div class="col-sm-4">
      <h3>{% trans 'We have a rule:' %}</h3>
      <h4 style="text-align: center;">{% trans 'The food must be just-cooked' %} </h4>
      <p>{% trans 'All dishes are made "under knife", so, on your order! ' %} </p>
        <p>
          {% trans 'We have some food preparations, on our kitchen to speed up dish cooking, but if there are many orders, your order may be ready a bit longer' %}
        </p>
        <p>
          {% trans 'Please, tell us if You have allergy on some food components' %}
        </p>
        <p>
          {% trans 'We have delivery service "Cafe at your home!"' %}
        </p>
        <i class="fas fa-seedling">Vegan 100%</i>
        <br>
        <br>
        <i class="bi bi-telephone"> +4864458524</i> <br>
        <i class="bi bi-envelope-open"> postmaster@yastvo.com</i><br>
        <i class="bi bi-geo-alt-fill">Slava Ukraine!</i>


        
  </div>    
</div>
{% endblock %}
