{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{title}}{%endblock %}
{% block content %}
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card border border-0">
          <img
            src="{{ object.item_image.url }}"
            class="bd-placeholder-img card-img-top"
          />
          <div class="card-body d-flex flex-column h-100">
            <h3 class="card-text mb-3">{{object.item_description}}</h3>
            <div class="d-flex justify-content-between align-items-start">
              <h6 class="card-text">Состав: {{object.item_composition}}</h6>
            </div>
            <div class="d-flex justify-content-left mt-4">
              <p class="card-text pe-2">Вес: {{object.item_weight}} гр.</p>
              <p class="card-text px-2">
                Калорийность: {{object.item_calories}} Ккал
              </p>

              {% if object.item_discount %}
              <span class="mr-1">
                Without discount: <del>{{ object.item_price }}</del>
              </span>
              <span>${{ object.item_discount }}</span>
              {% else %}
              <span>${{ object.item_price }}</span>
              {% endif %}

              {% if object.milk_added %}
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-info"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <img
                  src="{% static 'main/img/svg/milk-bottle.svg' %}"
                  height="64"
                  width="auto"
                />
              </button>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title danger" id="exampleModalLabel">
                        Внимание!
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Данный продукт содержит коровье молоко или продукты его
                      переработки!
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-success"
                        data-bs-dismiss="modal"
                      >
                        Закрыть
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              {% endif %}
            </div>
            <div class="btn-group mt-auto" role="group">
              <a
                href="{{ dishes.get_add_to_cart_url }}"
                class="btn btn-success btn-md my-0 p"
                >Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a
                href="{{ dishes.get_remove_from_cart_url }}"
                class="btn btn-danger btn-md my-0 p"
                >Remove From cart
                <i class="fas fa-trash ml-1"></i>
              </a>
              <a href="{% url 'delivery' %}" class="btn btn-info btn-md my-0 p"
              >Back</a
            >
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var myModal = document.getElementById("myModal");
  var myInput = document.getElementById("myInput");

  myModal.addEventListener("shown.bs.modal", function () {
    myInput.focus();
  });
</script>


{% endblock %}

