{% extends 'main/layout.html' %} 
{% load static %}
 {% load i18n %}
  {% block title %}
  {{title}}
  {%endblock %}
   {% block content %}

<div class="cart-button">
  <a
    class="btn btn-success rounded-pill-lg floating-button"
    href="{%url 'order-summary' %}"
    ><i class="bi-cart-fill">
      <span
        class="position-absolute top-0 start-100 trans-middle badge rounded-pill bg-danger"
        >{{ cart.items.count }}</span
      ></i
    >
  </a>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row">
    <div class="col-4">
      <img
            src="{{ object.item_image.url }}"
            class="bd-placeholder-img card-img-top rounded-circle"
          />
      </div>
      <div class="col-8">
        <div class="col-8">
        <h1 class="display-4 fw-bold text-center vegan position-relative">{{object.item}}<span class="fs-5 position-absolute top-0 start-100 translate-middle badge rounded-pill {% if object.label == 'N' %} bg-danger {% else %} bg-success {% endif %}">{{ object.get_label_display }} </span> </h1>
      </div>
        <h2 class="display-4 text-center"> {{object.item_description}}</h2>
        <h2 class="display-6"><strong>{% translate 'Meal composition: '%} </strong>{{object.item_composition}} </h2>
        <p class="fs-4 text-start"><strong>{% translate 'Weight:' %}</strong>{{object.item_weight}}</p>
        <p class="fs-4 text-start"><strong>{% translate 'Calories:' %} </strong>{{object.item_calories}}</p>
        <h2 class="display-5">{% translate 'Price: ' %}{% if object.item_discount %}<span class ="text-muted"><del>{{ object.item_price }}</del></span>
        <span class="text-danger">{{ object.item_discount }}</span>{% else %} <span>{{ object.item_price }}</span> {% endif %}
     


               {% if object.milk_added %}
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-info"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <img
                  src="{% static 'main/img/svg/milk-bottle.svg' %}"
                  height="64"
                  width="auto"
                />
              </button>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title danger" id="exampleModalLabel">
                        {% translate 'Warning!' %}
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      {% translate 'This product contains milk or milk components!' %}
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-success"
                        data-bs-dismiss="modal"
                      >
                        {% translate 'Close' %}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              {% endif %}
            </div>

            <a
              href="{% url 'delivery' %}"
              class="btn lightGreenBtn btn-md my-0 p"
              >{% translate 'Back' %}</a
            >
          </div>
    
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var myModal = document.getElementById("myModal");
    var myInput = document.getElementById("myInput");

    myModal.addEventListener("shown.bs.modal", function () {
      myInput.focus();
    });
  </script>

  {% endblock %}
</div>
