{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Кафе Яство{% endblock %}

{% block content %}
  <div class = "vegan container-fluid">
    <!-- <p>Cafe</p> -->
    <img class="vegan container-fluid" src="{% static 'main/img/Heading_small-removebg.png' %}" alt="">
    <!-- <p id = "vegan">Vegan</p> -->
  </div>

  <!-- <div class="container-fluid d-flex justify-content-around py-2">
    <img class="photos" src="{% static 'main/img/Food_items/DSC_7232.jpg' %}" id = "one" alt="картинка еды">
    <img class="photos" src="{% static 'main/img/Food_items/DSC_7236.jpg' %}" id = "two" alt="картинка еды">
    <img class="photos" src="{% static 'main/img/Food_items/DSC_7240.jpg' %}" id = "three" alt="картинка еды">
    <img class="photos" src="{% static 'main/img/Food_items/DSC_7246.jpg' %}" id = "four" alt="картинка еды">
    <img class="photos" src="{% static 'main/img/Food_items/DSC_7249.jpg' %}" id = "five" alt="картинка еды">

  </div> -->

{% endblock %}
