{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Кафе Яство{% endblock %}

{% block content %}
  <div class = "vegan container-fluid">
    <!-- <p>Cafe</p> -->
    <img class="vegan container-fluid" src="{% static 'main/img/Heading_small-removebg.png' %}" alt="">
    <!-- <p id = "vegan">Vegan</p> -->
  </div>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active text-center">
        <img src="{%static 'main/img/Food_items/DSC_7264.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">

        <div class="container">
          <div class="carousel-caption ">
            <h2>Вкусная полезная еда!</h2>
            <p>Приходите сами и приводите друзей</p>
            <p><a class="btn btn-md add-btn" href="{%url 'menu' %}">Меню</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item text-center">
        <img src="{%static 'main/img/Food_items/DSC_7371.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">

        <div class="container">
          <div class="carousel-caption">
            <h2>Всегда рады Вас видеть!</h2>
            <p>Работает доставка "Кафе у Вас дома" </p>
            <p><a class="btn btn-md add-btn" href="{%url 'delivery' %}">Доставка</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item text-center">
        <img src="{%static 'main/img/Food_items/DSC_7430.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">

        <div class="container">
          <div class="carousel-caption">
            <h2 >Будем рады услышать Ваши пожелания!</h2>
            <p>Нас легко найти в Вашем городе!</p>
            <p><a class="btn btn-md add-btn" href="{%url 'contacts' %}">Контакты</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing">

    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading feature-text" >Яркие мероприятия <span class="text-info">поднимут Ваше настроение!</span></h2>
        <p class="lead">Проводим праздники, встречи, вечеринки и дни рождения!</p>
      </div>
      <div class="col-md-5">
        <img src="{%static 'main/img/Food_items/DSC_7408.jpg' %}" class="rounded-circle" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading feature-text">Можно прийти перекусить, <span>или плотно покушать.</span></h2>
        <p class="lead">Завтраки с открытия и до закрытия, напитки, закуски - на любой вкус!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{%static 'main/img/Food_items/DSC_7315.jpg' %}"  class="rounded-circle" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading feature-text">При приготовлении блюд<span> не пострадало ни одно животное!</span></h2>
        <p class="lead">При приготовлении некоторых блюд используются молоко и продукты переработки молока!</p>
      </div>
      <div class="col-md-5">
        <img src="{%static 'main/img/Food_items/DSC_7408.jpg' %}" class="rounded-circle" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"alt="">

      </div>
    </div>

    <hr class="featurette-divider">

  </div>





  

{% endblock %}
