{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en-us" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    

<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@200;400;500;900&display=swap" rel="stylesheet">



    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'main/img/favicon.jpg' %}"
      type="image/jpg"
    />

    <link rel="stylesheet" href="{% static 'main/CSS/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/CSS/feedback.css' %}" />
    <link rel="stylesheet" href="{% static 'main/CSS/bxslider.css' %}" />
    <link rel="stylesheet" href="{% static 'main/CSS/stripe.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'main/CSS/jquery.bxslider.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'main/CSS/styles.css' %}" />

    <script
      src="https://kit.fontawesome.com/fb1859fd88.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'main/JS/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'main/JS/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'main/JS/jquery.easing.1.3.min.js' %}"></script>
    <script src="{% static 'main/JS/jquery.fitvids.min.js' %}"></script>
    <script src="{% static 'main/JS/slider.js' %}"></script>
    <script src="{% static 'main/JS/bootstrap.min.js' %}"></script>
    
    <script>
      jQuery(".new_user").slideUp(2000);
    </script>
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top header">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'home' %}"
            ><i class="fas fa-house-user"></i
          ></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'menu' %}">{% trans 'Our menu' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'contacts' %}">{% trans 'Contacts' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'delivery' %}">{% trans 'Delivery' %}</a>
              </li>
              {%if not user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'reg' %}">{% trans 'Registration' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'users' %}">{% trans 'Log in' %}</a>
              </li>

              {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{%url 'profile' %}">{% trans 'Profile' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'exit' %}">{% trans 'Log out' %}</a>
              </li>

              {% endif %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {% trans 'Language' %}
                </a>
                <ul class="dropdown-menu mt-3">
                  <li><a class="dropdown-item" href="#">{% trans 'English' %}</a></li>
                  <li><a class="dropdown-item" href="#">{% trans 'Ukrainian' %}</a></li>
                  <li>
                    <a class="dropdown-item" href="#">{% trans 'Polish' %}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% if messages %} {% for mess in messages %}
    <div class="row justify-content-center">
      <div class="col col-lg-2"></div>
      <div class="alert alert-info text-center col-md-auto new_user">
        {{mess}}
      </div>
      <div class="col col-lg-2"></div>
      {% endfor %} {% endif %}
    </div>

    <main class="flex-shrink-0">
      <div class="container">{% block content %} {% endblock %}</div>
    </main>

    <footer
      class="mt-auto footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mb-3 mt-5"
    >
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">Slava  Ukraine!</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a href="https://vegcard.com/">
            <img
              src="{% static 'main/img/vegcard_png.png' %}"
              height="32"
              width="auto"
            />
          </a>
        </li>
        <li class="ms-3">
          <a href="#"
            ><img
              src="{% static 'main/img/svg/facebook.svg' %}"
              width="32"
              height="32"
          /></a>
        </li>
        <li class="ms-3">
          <a href="#"
            ><img
              src="{% static 'main/img/svg/instagram.svg' %}"
              width="32"
              height="32"
          /></a>
        </li>
        <li class="ms-3">
          <a
            href="#"
            ><img
              src="{% static 'main/img/svg/tripadvisor.svg' %}"
              width="32"
              height="32"
          /></a>
        </li>
      </ul>
    </footer>
    <script src="{% static 'main/JS/checkout.js' %}"></script>
  </body>
</html>
