{% load static %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="shortcut icon" href="{% static 'main/img/favicon.jpg' %}" type="image/jpg">
  <link rel="stylesheet" href="{% static 'main/CSS/flexboxgrid.css' %}">
  <link rel="stylesheet" href="{% static 'main/CSS/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/CSS/feedback.css' %}">
  <link rel="stylesheet" href="{% static 'main/CSS/bxslider.css' %}">
  <link rel="stylesheet" href="{% static 'main/CSS/jquery.bxslider.css' %}">
  <link rel="stylesheet" href="{% static 'main/CSS/styles.css' %}">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <script src="https://kit.fontawesome.com/fb1859fd88.js" crossorigin="anonymous"></script>
  <script src="{% static 'main/JS/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'main/JS/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'main/JS/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'main/JS/jquery.fitvids.js' %}"></script>
  <script>jQuery(document).ready(function(){
    jQuery('.bxslider').bxSlider({
     nextText:'',
     prevText:'',
     useCSS: false,
     easing: 'jswing',
     speed: 1000
     });
  });
  </script>
  <title>{% block title %}{% endblock %}</title>
</head>

<body class = "d-flex flex-column h-100">
    <header>
    <nav class="navbar navbar-expand-md navbar-dark header bg-dark" aria-label="First navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home' %}" >Главная страница</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
            <li class="nav-item">
              <a class="nav-link" href="{%url 'menu' %}" >Меню</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'delivery' %}" >Доставка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacts' %}">Контакты</a>
            </li>
            {%if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'reg' %}">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'users' %}">Войти в ЛК</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'profile' %}">Профиль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'exit' %}">Выйти из ЛК</a>
            </li>
            {% endif %}
          </ul>

        </div>
    </div>
  </nav>
  </header>

  {% if messages %}
  {% for mess in messages %}
  <div class="row justify-content-center">
    <div class="col col-lg-2"></div>
    <div class="alert alert-info text-center col-md-auto new_user" >{{mess}}</div>
    <div class="col col-lg-2"></div>
    {% endfor %}
    {% endif %}
  </div>

  <main class="flex-shrink-0">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
    
      
  <footer class="mt-auto footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2021 Яство</span>
      </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a href="https://vegcard.com/"> <img src = "{% static 'main/img/vegcard_png.png' %}"  height ="32" width ="auto" > </a> </li>
      <li class="ms-3"><a href="https://www.facebook.com/yastvo.yalta/"><img src = "{% static 'main/img/svg/facebook.svg' %}" width ="32" height ="32"></a></li>
      <li class="ms-3"><a href="https://www.instagram.com/yastvo.yalta/"><img src = "{% static 'main/img/svg/instagram.svg' %}" width ="32" height ="32"></a></li>
      <li class="ms-3"><a href=" https://www.tripadvisor.ru/Restaurant_Review-g295378-d23499626-Reviews-Yastvo-Yalta.html"><img src = "{% static 'main/img/svg/tripadvisor.svg' %}"  width ="32" height ="32"></a></li>
    </ul>
  </footer>    
    <script src="{% static 'main/JS/bootstrap.js' %}"></script>
    <script>
      jQuery('.new_user').slideUp(2000);
    </script>
</body>
</html>

<!-- <li class="nav-item">
  <a class="nav-link" href="{%url 'shopping' %}">Магазин</a>
</li> -->
<!-- <div class="container-fluid">
    <div class="big-menu">
        <ul class="nav nav-pills nav-justified">
            <a class="nav-item floating-button" href="{%url 'home' %}" title="Главная страница"><i class="fas fa-leaf"></i></a>
            <a class="nav-item floating-button" href="{%url 'menu' %}" title="Меню"><i class="fas fa-book-open"></i></a>
            <a class="nav-item floating-button" href="{%url 'delivery' %}" title="Доставка"><i class="fas fa-truck"></i></a>
            <a class="nav-item floating-button" href="{%url 'shopping' %}" title="Магазин"><i class="fas fa-store"></i></a>
            <a class="nav-item floating-button" href="{%url 'contacts' %}" title="Контакты"><i class="fas fa-paper-plane"></i></a>

          {% if not user.is_authenticated %}
            <a class="nav-item floating-button" href="{%url 'reg' %}" title="Регистрация"><i class="fas fa-user-check"></i></a>
            <a class="nav-item floating-button" href="{%url 'users' %}" title="Войти в ЛК"><i class="fas fa-sign-in-alt"></i></a>
          {% else %}
            <a class="nav-item floating-button" href="{%url 'profile' %}" title="Профиль"><i class="fas fa-user-circle"></i></a>
            <a class="nav-item floating-button" href="{%url 'exit' %}" title="Выйти из ЛК"><i class="fas fa-sign-out-alt"></i></a>
          {% endif %}
        </ul>
    </div>
  </div> -->
    <!-- <div class="container-fluid footer">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
          
          <span class="text-muted">© 2021 Яство</span>
        </div>
        
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a href="https://vegcard.com/"> <img src = "{% static 'main/img/vegcard_png.png' %}"  height ="32" width ="auto" > </a> </li>
          <li class="ms-3"><a href="https://www.facebook.com/yastvo.yalta/"><img src = "{% static 'main/img/svg/facebook.svg' %}" width ="32" height ="32"></a></li>
          <li class="ms-3"><a href="https://www.instagram.com/yastvo.yalta/"><img src = "{% static 'main/img/svg/instagram.svg' %}" width ="32" height ="32"></a></li>
          <li class="ms-3"><a href=" https://www.tripadvisor.ru/Restaurant_Review-g295378-d23499626-Reviews-Yastvo-Yalta.html"><img src = "{% static 'main/img/svg/tripadvisor.svg' %}"  width ="32" height ="32"></a></li>
        </ul>
      </footer>
    </div> -->