:root {
  --mainColor: #b5ebc7;
  --secondaryColor: #659c1e;
  --shadowColor: rgb(164, 147, 147);
  --shadow: var(--shadowColor) 2px 2px 2px 2px;
  --mainGradientColor: #6ab1d7;
  --secondaryGradientColor: #33d9de;
  --navBarLinkColor: #a52a2a;
  font-family: 'Lobster Two', cursive;
}
body {
  
  background-size: 400px 200px;
  background-repeat: repeat;
  background-image: url("images/Heading_Leaves.png");
}
a {
  font-size: 1rem;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1em;
}

p {
  font-size: 0.8em;
}

.footer,
.header {
  background-color: var(--mainColor);
  
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: var(--navBarLinkColor);
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--mainGradientColor);
}

.navbar-dark .navbar-toggler {
  color: var(--shadowColor);
  border-color: var(--shadowColor);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

main > .container {
  padding-top: 2rem;
}

.cafe {
  height: auto;
  width: 100%;
}

.vegan {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: var(--secondaryColor);
  margin-top: 2rem;
}
#vegan {
  text-align: right;
}

#id_img {
  border-radius: 2px;
  padding: 5px;
  background-color: inherit;
}
.map {
  border: 2px solid var(--secondaryColor);
  border-radius: 30px;
  margin: 15px;
  height: 95%;
  min-height: 50%;
  min-width: 50%;
  width: 95%;
  box-shadow: var(--shadow);
  transition: 0.5s;
}

.carousel-inner {
  box-shadow: var(--shadow);
border-radius: 10px;

}
.dropdown-menu 
{background-color: var(--mainColor);
}

.feature-text {
  color: var(--secondaryColor);
}

.feature-text span {
  color: var(--mainGradientColor);
}

.lead {
  color: var(--navBarLinkColor)
}

.cart-button {
  z-index: 100;
  position:fixed;
  top: 5rem;
  right :5% 
  
}

.add-btn {
  background-color: var(--secondaryColor);
  
}

.details-btn {
  background-color: var(--mainColor);
  
}

.bi-cart-fill {
font-size: 2rem;
}
.bi-cart-fill>span {
  font-size: .8em;
}


.floating-button {
  background-image: linear-gradient(
    45deg,
    var(--mainGradientColor) 0%,
    var(--secondaryGradientColor) 50%,
    var(--secondaryColor) 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: var(--navBarLinkColor);
  box-shadow: var(--shadow);
  transition: 0.5s;
  height: 4rem;
  width: 4rem;
  
  
}

.floating-button:hover {
  box-shadow: var(--shadow);
}

.contacts {
  color: var(--navBarLinkColor);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.form-register {
  padding: 20px;
  
  color: var(--secondaryColor);
  margin-top: 20px;
}

.form-register label {
  
  color: var(--secondaryColor);
  font-style: italic;
}

.form-register.auth input {
  display: block;
  width: 96%;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2%;
}

form p {
  text-align: left;
}

.form-control {
  border-radius: 15px;
  margin: 10px 20px;
}

.col h4,
h3,
p {
  text-align: center;
}
.card-body {
  height: 250px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 1154px) {
  .floating-button {
    padding: 6px;
    margin: 5px;
    border-radius: 15px;
    font-size: 12px;
  }
}

@media (max-width: 594px) {
  .floating-button {
    padding: 3px;
    margin: 2px;
    border-radius: 7px;
    font-size: 8px;
  }
}
@media (max-width: 1441px){
   a {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  
  p {
    font-size: 2rem;
  }
  .lead {
    font-size: 2rem;
  }
  .text-muted {
    font-size: 1.5rem;
  }
}